* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.task {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

.task:hover * {
  cursor: pointer; /* Change the cursor to a hand */
}

.task label {
  flex: 1; /* Let the label grow and shrink as needed */
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 0.5rem;
}

.task input {
  height: 30px;
  width: 30px;
}

.storageUnits {
  display: flex;
  text-align: center;
}

.todoList,
.otherNotes {
  text-align: center;
}

.storageUnits input,
.todoList input,
.otherNotes input {
  width: 100%;
  text-align: center;
}

.pettyCashTitle {
  text-align: center;
}

.pettyCash {
  display: flex;
  flex-direction: column;
}

.cashInputs {
  display: flex;
}

.cashInputs label {
  max-width: 8.5rem; /* Set an initial max width */
  flex-grow: 1; /* Allow labels to grow */
}

.cashInputs input {
  flex: 1;
  min-width: 0; /* Reset minimum width */
}
